<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarPersona</servlet-name>
        <servlet-class>servlets.GuardarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPersona</servlet-name>
        <servlet-class>servlets.VerPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAgenda</servlet-name>
        <servlet-class>servlets.VerAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobarAgenda</servlet-name>
        <servlet-class>servlets.ComprobarAgenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarPersona</servlet-name>
        <url-pattern>/GuardarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPersona</servlet-name>
        <url-pattern>/VerPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAgenda</servlet-name>
        <url-pattern>/VerAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarAgenda</servlet-name>
        <url-pattern>/ComprobarAgenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
